<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Thời khóa biểu</title>
    <link rel="shortcut icon" type="image/png" href="./image/logoDLU.jpg" />
    <link rel="stylesheet" type="text/css" href="./css/all.min.css">
    <link rel="stylesheet" type="text/css" href="./css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="./css/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/user.css">
    <link rel="stylesheet" type="text/css" href="./css/all.min.css">
    <link rel="stylesheet" type="text/css" href="./css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" type="text/css" href="./css/admin.css">
    <link rel="stylesheet" type="text/css" href="./scss/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


</head>

<body>
    <!-- header -->
    <div class="header">
        <h1 id="headline">Xem Thời Khóa Biểu</h1>
    </div>
    <!-- navbar -->
    <div class="body">
        <div class="container-fluid">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">

                        <li><a id="len1" class="hoverable" href="#">Thời khóa biểu sinh viên</a></li>

                        <li><a id="len2" class="hoverable" href="#">Thời khóa biểu lớp</a></li>

                        <li><a id="len3" class="hoverable" href="#">Thời khóa biểu giảng viên</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- container -->
    <div class="container">
        <div class="row row-calendar">
            <div class="chucnang tdExpandInBounce animated">
                <div class="row">
                    <div class="col-md-12">
                        <div class="themlichtkb">
                            <form name="survey" method="post" id="survey" action="/survey">
                                <div class="form-group ">

                                    <h5>Xem thời khóa biểu theo sinh viên:</h5>
                                    <input type="number" name="lop" id="myInput" placeholder="Nhập mã số sv">
                                    <button type="button" class="btn btn-success" id="myBtn">Xem Lịch</button>
                                    <h5>Xem thời khóa biểu theo lớp:</h5>
                                    <select name="lop" id="lop"></select>
                                </div>
                                <button id="btn_submit" type="submit" class="btn btn-info mt-4 float-right w-25">Thêm lịch</button>
                            </form>
                            <div class="backhome">
                                <a href="../Home/Home.html">Dùng các chức năng khác</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- thoikhoabieu -->
    <table class="table table-striped table-dark">
    </table>

    <!-- phan footer -->
    <footer id="footer" style="margin-top: 0px !important;">
        <div class="row" style="margin: 0">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-1 offset-md-2" style="max-width: 100%;padding: 0;">
                        <div class="st_text">
                            <a href="https://cntt.dlu.edu.vn" target="_blank"><span>D</span><span>L</span></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>Địa chỉ: Khoa Công Nghệ Thông Tin, <a href="https://cntt.dlu.edu.vn" target="_blank">Khoa CNTT</a>, <a href="https:/www.dlu.edu.vn" target="_blank">Trường Đại Học Đà Lạt</a> <br />ĐT: +84263.3552540 - Email: 1710198@dlu.edu.vn
                            - Website: cntt.dlu.edu.vn
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <p>
                    Copyright © 2020 <a href="https://dlu.edu.vn" target="_blank">DLU</a>. All rights reserved
                </p>
            </div>
        </div>
    </footer>
    <input type="hidden" id="error_message" value="">
    <input type="hidden" id="success_message" value="">
    <input type="hidden" id="info_message" value="">
    <div id="spinner " class="spinner " style="display: none; "></div>

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.5.0.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js "></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js "></script>
    <!-- tim kiem theo mssv -->
    <script>
        $(document).ready(function() { // Get value on button click and show alert
            $("#myBtn").click(function() {
                var str = $("#myInput").val();
                var thongbao = "Đang lấy thời khóa biểu sinh viên: " + $("#myInput").val();
                alert(thongbao);

                $("table").html('<tr>Thoi Khoa Bieu</tr>')
                $.getJSON(`https://future-attractive-rambutan.glitch.me/?studentID=${str}`, function(data) {
                    $.each(data, function(key, val) {
                        $('table').append('<tr><th>' + val["0"] + ' </th><th> ' + val.Sáng + ' </th><th> ' + val.Chiều + ' </th> <th> ' + val.Tối + ' </th><tr>');
                    });
                });
            });
        });
    </script>
    <!-- tim kiem theo lop -->
    <script>
        var tkblop = ['CTK41', 'CTK42', 'CTK43'];
        tkblop.forEach(element => {
            console.log(element);
            $('select').html();
            $('select').append('<option>' + element + ' </option>')
        });
        $("select").change(function() {
                $("select option:selected ").each(function() {
                    var str = $(this).val() + "";
                    console.log(str);
                    if (str == "CTK41") {
                        $("table ").html('<tr> thoi khoa bieu</tr>')
                        $.getJSON(`https://future-attractive-rambutan.glitch.me/?studentID=1710172`, function(data) {
                            $.each(data, function(key, val) {
                                $('table').append('<tr><th>' + val["0"] + ' </th><th> ' + val.Sáng + ' </th><th> ' + val
                                    .Chiều + ' </th> <th> ' + val.Tối + ' </th><tr>');
                            });
                        })
                    }



                })
            })
            .change();
    </script>
    <script type="text/javascript " src="./js/dashboard.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="./js/navbar.js"></script>
</body>


</html>

</html>