<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        div {
            color: black;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>

<body>
    <select name="sweets " multiple="multiple ">
  <option>CTK41</option>
  <option>CTK42</option>
  <option>CTK43</option>
  <option>CTK39</option>
  <option>CTK40</option>
  <option>DLK41</option>
</select>
    <h1 id="content"></h1>


    <script>
        $("select ").change(function() {
            var str = " ";
            $("select option:selected ").each(function() {
                str += $(this).text() + " ";
            });
            alart(str);

            function alart(str) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["success"](`${str}`)
            };



        }).change();
    </script>

</body>

</html>