form(name='survey', method='post',id="survey", action='/survey')
  select(name='lop')
    option(value='CTK41') CTK41
    option(value='CTK42') CTK42
    option(value='CTK43') CTK43
  button#submid Thêm Lịch