footer#footer {
    bottom: 0;
    position: fixed;
    background-color: #eee;
    overflow: hidden;
    z-index: 5;
}

body {
    overflow: auto;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.container {
    height: 35%;
}

p::selection {
    background: #d3d3d3;
    color: #555;
}

p::-moz-selection {
    background: #d3d3d3;
    color: #555;
}

p::-webkit-selection {
    background: #d3d3d3;
    color: #555;
}